$color-main: #eff6fc;
$color-secondary: #fff0ee;
$black: #000;
$blue: #131f5f;
$red: #db2222;
$gray: #6c7178;
$light-gray: #edeef0;
$white: #fff;
$body-bg: #fff;
$font: "demos-next", serif;
$sub-font: "Fieldwork", sans-serif;
$headings-margin-bottom: 0;
$font: "demos-next", serif;
$sub-font: "Fieldwork", sans-serif;
