.about-managers {
	padding: 0;
	background-color: $white;

	@include media-breakpoint-down(md) {
		padding-top: 7px;
		padding-bottom: 25px;
	}

	&__content {
		padding-top: 163px;
		padding-bottom: 75px;

		&:nth-child(even) {
			background-color: $light-gray;
		}

		@include media-breakpoint-down(md) {
			padding-top: 65px;
			padding-bottom: 0;
		}
	}

	&__category-title {
		margin-bottom: 45px;

		@include media-breakpoint-down(md) {
			letter-spacing: 0.55px;
			margin-bottom: 15px;
		}
	}

	&__posts-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: -102px;

		@include media-breakpoint-down(lg) {
			margin-left: -50px;
		}

		@include media-breakpoint-down(md) {
			margin-left: -20px;
			justify-content: center;
		}

		@include media-breakpoint-down(xs) {
			margin-left: 0;
		}
	}
}

.about-managers-article {
	max-width: 450px;
	margin-left: 102px;
	padding-bottom: 102px;

	@include media-breakpoint-down(lg) {
		width: 350px;
		min-width: 350px;
		margin-left: 50px;
	}

	@include media-breakpoint-down(md) {
		width: 300px;
		min-width: 300px;
		margin-left: 20px;
		padding-bottom: 35px;
		padding-top: 20px;
		border-bottom: 2px solid #dcdee2;
	}

	@include media-breakpoint-down(xs) {
		width: 100%;
		min-width: auto;
		margin-left: 0;
	}

	&:last-child {
		border-bottom: none;
	}

	&__image-wrapper {
		height: 450px;
		width: 450px;
		min-width: 450px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: $gray;
		margin-bottom: 39px;

		@include media-breakpoint-down(lg) {
			height: 350px;
			width: 350px;
			min-width: 350px;
		}

		@include media-breakpoint-down(md) {
			width: 300px;
			height: 300px;
			min-width: 300px;
			margin-bottom: 26px;
		}

		@include media-breakpoint-down(xs) {
			width: 100%;
			height: 287px;
			min-width: 100%;
		}
	}

	&__title {
		margin-bottom: 21px;
	}

	&__content {

		a {
			letter-spacing: 0.22px;
		}

		p {
			margin-bottom: 5px;
			letter-spacing: 0;
		}
	}
}
