.community-involvment {
  padding: 90px 0 160px 0;
  background-color: $light-gray;

  @include media-breakpoint-down(sm) {
    padding: 44px 0 30px 0;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin-bottom: 0;
    }
  }

  .navigation.pagination {
    padding-top: 22px;
    padding-left: 3px;

    & .nav-links span:first-child ~ .next {
      margin-top: 0;
    }
  }
}

.community-involvment-article {
  display: flex;
  justify-content: space-between;
  padding: 38px 0 39px 0;
  position: relative;
  border-bottom: 4px solid $black;

  @include media-breakpoint-down(sm) {
    padding-top: 114px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 29px;
  }

  @include media-breakpoint-down(xs) {
    align-items: flex-start;
  }

  &__content {
    padding-top: 43px;

    @include media-breakpoint-down(sm) {
      order: 2;
      padding-top: 0;
    }
  }

  &__post-time {
    font-family: $sub-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.21875px;
    margin-bottom: 17px;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 41px;
      left: 0;
    }
  }

  &__image-wrapper {
    height: 323px;
    width: 450px;
    min-width: 450px;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $gray;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      height: 440px;
      width: 100%;
      min-width: 250px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      height: 206px;
    }
  }

  &__categories {
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 77px;
      left: 0;
    }
  }

  &__categories-link {
    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
  }

  &__title {
    margin-bottom: 26px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 27px;
    }

    a {
      text-decoration: none;
    }
  }
}
