.heateor_sss_sharing_container {
  padding-bottom: 38px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(xs) {
    padding-bottom: 23px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1082px;
    height: 2px;
    background: $light-gray;
  }

  .heateor_sss_sharing_title {
    font-family: $sub-font;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 12px;
    padding: 14px 0 0 1px;
    line-height: 12px;
  }
}

.heateor_sss_horizontal_sharing {
  .heateor_sss_sharing_ul {
    li i {
      margin-left: -8px;
      margin-right: 3px;
    }
  }

  .heateorSssCopyLinkBackground {
    .heateorSssCopyLinkSvg {
      background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2213%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M11.756.762a3.374%203.374%200%2000-4.746.475l-.999%201.217a.878.878%200%2000.108%201.222.842.842%200%20001.2-.11l1-1.217a1.705%201.705%200%20011.176-.614%201.671%201.671%200%20011.253.43%201.787%201.787%200%2001.142%202.437L8.813%207.135l-.02.022a1.673%201.673%200%2001-2.522.044.846.846%200%2000-1.203-.042.874.874%200%2000-.044%201.225c.386.42.868.737%201.404.921a3.347%203.347%200%20002.178-.002%203.383%203.383%200%20001.517-1.058l2.072-2.525c.295-.362.516-.78.652-1.228.135-.45.182-.922.138-1.39a3.452%203.452%200%2000-.381-1.296%203.392%203.392%200%2000-.848-1.043z%22%20fill%3D%22%23000%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M5.622%2010.135l-.893%201.088a1.713%201.713%200%2001-2.382.291%201.752%201.752%200%2001-.255-2.466l2.114-2.575.016-.017a1.67%201.67%200%2001.385-.335%201.67%201.67%200%20012.167.322.852.852%200%2000.649.293.83.83%200%2000.634-.307l.01-.013a.865.865%200%2000-.015-1.12%203.406%203.406%200%2000-1.172-.874%203.35%203.35%200%2000-2.84.04%203.41%203.41%200%2000-1.148.906L.785%207.935a3.52%203.52%200%2000-.774%202.5%203.5%203.5%200%20001.16%202.339%203.33%203.33%200%20001.158.663c.426.14.875.191%201.32.151a3.488%203.488%200%20002.39-1.256l.891-1.084a.878.878%200%2000-.107-1.222.842.842%200%2000-1.2.11z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E);
      margin-left: 12px;

      &:hover {
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2213%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M11.756.762a3.374%203.374%200%2000-4.746.475l-.999%201.217a.878.878%200%2000.108%201.222.842.842%200%20001.2-.11l1-1.217a1.705%201.705%200%20011.176-.614%201.671%201.671%200%20011.253.43%201.787%201.787%200%2001.142%202.437L8.813%207.135l-.02.022a1.673%201.673%200%2001-2.522.044.846.846%200%2000-1.203-.042.874.874%200%2000-.044%201.225c.386.42.868.737%201.404.921a3.347%203.347%200%20002.178-.002%203.383%203.383%200%20001.517-1.058l2.072-2.525c.295-.362.516-.78.652-1.228.135-.45.182-.922.138-1.39a3.452%203.452%200%2000-.381-1.296%203.392%203.392%200%2000-.848-1.043z%22%20fill%3D%22%23db2222%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M5.622%2010.135l-.893%201.088a1.713%201.713%200%2001-2.382.291%201.752%201.752%200%2001-.255-2.466l2.114-2.575.016-.017a1.67%201.67%200%2001.385-.335%201.67%201.67%200%20012.167.322.852.852%200%2000.649.293.83.83%200%2000.634-.307l.01-.013a.865.865%200%2000-.015-1.12%203.406%203.406%200%2000-1.172-.874%203.35%203.35%200%2000-2.84.04%203.41%203.41%200%2000-1.148.906L.785%207.935a3.52%203.52%200%2000-.774%202.5%203.5%203.5%200%20001.16%202.339%203.33%203.33%200%20001.158.663c.426.14.875.191%201.32.151a3.488%203.488%200%20002.39-1.256l.891-1.084a.878.878%200%2000-.107-1.222.842.842%200%2000-1.2.11z%22%20fill%3D%22%23db2222%22%2F%3E%0A%3C%2Fsvg%3E);
      }
    }
  }

  .heateorSssEmailBackground {
    .heateorSssEmailSvg {
      background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2217%22%20height%3D%2213%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M1.569.784c-.168%200-.327.033-.473.091L8.06%207.252c.299.273.567.273.866%200L15.901.875a1.274%201.274%200%2000-.472-.091H1.569zM.322%201.863a1.277%201.277%200%2000-.013.169v8.736c0%20.691.562%201.248%201.26%201.248h13.86c.698%200%201.26-.557%201.26-1.248V2.032c0-.057-.006-.114-.014-.169l-6.89%206.305a1.933%201.933%200%2001-2.586%200L.322%201.863z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E);
      margin-left: 8px;

      &:hover {
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2217%22%20height%3D%2213%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M1.569.784c-.168%200-.327.033-.473.091L8.06%207.252c.299.273.567.273.866%200L15.901.875a1.274%201.274%200%2000-.472-.091H1.569zM.322%201.863a1.277%201.277%200%2000-.013.169v8.736c0%20.691.562%201.248%201.26%201.248h13.86c.698%200%201.26-.557%201.26-1.248V2.032c0-.057-.006-.114-.014-.169l-6.89%206.305a1.933%201.933%200%2001-2.586%200L.322%201.863z%22%20fill%3D%22%23db2222%22%2F%3E%0A%3C%2Fsvg%3E);
      }
    }
  }

  .heateorSssFacebookMessengerBackground {
    .heateorSssFacebookMessengerSvg {
      background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M7.792%200C3.488%200%200%203.08%200%206.877c0%202.066%201.033%203.917%202.667%205.178l-1.386%203.03%203.713-1.789a8.69%208.69%200%20002.798.459c4.303%200%207.792-3.08%207.792-6.878S12.095%200%207.792%200zm-.163%209.231l-.293-1.88-4.595.64-.004-.029%205.218-3.439.293%201.88%204.595-.638.004.027-5.218%203.44z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E);
      margin-left: 5px;

      &:hover {
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M7.792%200C3.488%200%200%203.08%200%206.877c0%202.066%201.033%203.917%202.667%205.178l-1.386%203.03%203.713-1.789a8.69%208.69%200%20002.798.459c4.303%200%207.792-3.08%207.792-6.878S12.095%200%207.792%200zm-.163%209.231l-.293-1.88-4.595.64-.004-.029%205.218-3.439.293%201.88%204.595-.638.004.027-5.218%203.44z%22%20fill%3D%22%23db2222%22%2F%3E%0A%3C%2Fsvg%3E);
      }
    }
  }
}
