.single-page-news-and-events {

	.hero {

		&__wrap-title {
			flex-basis: 50%;
		}
	}
}

.loc-single-post {
	background: none;
	position: relative;

	&__header {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	&__title-small {
		margin-bottom: 7px;
		order: 3;

		a {
			text-decoration: none;
		}
	}

	&__post-time {
		order: 1;
		margin-bottom: 13px;

		@include media-breakpoint-down(xs) {
			font-family: $sub-font;
			font-weight: bold;
			font-size: 16px;
			margin: 0 0 18px 2px;
		}
	}

	&__categories {
		order: 2;
		display: inline-block;
		list-style: none;
		font-weight: bold;
		font-family: $sub-font;
		padding-left: 2px;
		margin-bottom: 20px;

		@include media-breakpoint-down(sm) {
			padding: 0;
			font-size: 12px;
			margin-bottom: 24px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&.blue {
				color: $blue;
			}

			&.red {
				color: $red;
			}

			&.black {
				color: $black;
			}
		}
	}

	&__categories-link {

		@include media-breakpoint-down(sm) {
			font-size: 12px;
		}
	}

	&__post-link-svg {
		margin-left: 4px;
	}

	&__footer {

		@include media-breakpoint-down(sm) {
			margin: 0;
			padding-top: 14px;
		}
	}

	&__content {
		display: none;
	}

	&__back-link {
		display: none;
	}
}

.single-page-content-section {
	background: $white;
	padding-top: 63px;
	padding-bottom: 65px;

	@include media-breakpoint-down(sm) {
		padding-top: 49px;
		padding-bottom: 38px;
	}

	.loc-single-post {
		display: flex;
		flex-direction: column;
		background: $white;
		max-width: 100%;

		@include media-breakpoint-down(sm) {
			padding-bottom: 0;
		}

		&__categories {
			margin-bottom: 27px;
			order: initial;

			@include media-breakpoint-down(sm) {
				margin-bottom: 25px;
			}
		}

		&__categories-link {
			list-style: none;
			text-decoration: none;
			font-weight: bold;
			font-family: $sub-font;

			@include media-breakpoint-down(sm) {
				padding: 0;
				font-size: 10px;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		&__title {
			font-family: $sub-font;
			font-size: rem-calc(48px);
			color: $black;
			letter-spacing: 0.53px;
			line-height: rem-calc(54px);
			font-weight: bold;
			padding-left: 2px;
			margin-bottom: 10px;

			&.white-headline {
				color: $white;
			}

			@include media-breakpoint-down(sm) {
				font-size: rem-calc(32px);
				line-height: rem-calc(32px);
				letter-spacing: 0.03px;
				margin-bottom: 19px;
				padding-left: 1px;
			}
		}

		&__title-small {
			padding: 0;
		}

		&__post-time {
			font-family: $sub-font;
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 0.15px;
			padding: 4px 0 0 2px;
			order: initial;
			margin-bottom: 0;
		}

		&__excerpt {
			font-family: $font;
			font-size: 24px;
			letter-spacing: 0.22px;
			line-height: 36px;
			font-weight: 900;
			padding-top: 17px;

			@include media-breakpoint-down(xs) {
				font-size: 17px;
				letter-spacing: 0.61px;
				line-height: 24px;
				padding-top: 24px;
			}
		}

		&__content {
			padding: 20px 0 0 3px;
			display: block;

			@include media-breakpoint-down(xs) {
				padding: 27px 0 0 0;
			}

			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-bottom: 20px;
				letter-spacing: 0.77px;

				@include media-breakpoint-down(xs) {
					letter-spacing: 0.52px;
					margin-bottom: 27px;
				}
			}

			p {
				letter-spacing: 0.25px;
				line-height: 32px;
				margin-bottom: 20px;

				@include media-breakpoint-down(xs) {
					margin-bottom: 25px;
					line-height: 20px;
				}

				strong {
					letter-spacing: 1.4px;
					line-height: 36px;

					@include media-breakpoint-down(xs) {
						font-weight: 900;
						letter-spacing: 1.5px;
						line-height: 22px;
					}
				}
			}
		}

		&__footer {
			padding-top: 24px;
			margin-bottom: 0;
			overflow: hidden;
		}

		&__attachments {
			font-family: $sub-font;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 12px;
			margin: 0;
			padding-left: 4px;
			line-height: 12px;
			letter-spacing: 0.1px;

			@include media-breakpoint-down(xs) {
				padding: 0;
			}
		}

		&__download-wrapper {
			padding: 4px 0 22px 4px;
			display: flex;
			position: relative;
			margin-bottom: 35px;

			@include media-breakpoint-down(xs) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 7px 0 20px 1px;
				margin-bottom: 40px;

				svg {
					width: 15px;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 1082px;
				height: 2px;
				background: $light-gray;
			}
		}

		&__download-text {
			position: relative;
			font-family: $sub-font;
			font-size: 14px;
			letter-spacing: 0.3px;
			margin-left: 8px;

			@include media-breakpoint-down(xs) {
				font-size: 12px;
				margin-left: 3px;
				display: none;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: $black;
			}
		}

		&__download-text--mobail {
			display: none;

			@include media-breakpoint-down(xs) {
				display: inline;
			}
		}

		&__download-link {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: none;
				outline: none;

				& .loc-single-post__download-text {
					color: $red;

					&::after {
						background: $red;
					}
				}

				& .loc-single-post__download-icon path {
					fill: $red;
				}
			}
		}

		&__download-text-size {
			margin: 2px 0 0 120px;
			font-family: $sub-font;
			font-size: 14px;

			@include media-breakpoint-down(xs) {
				margin: 0;
				font-size: 12px;
				padding-right: 1px;
			}
		}

		&__back-link-text {
			margin-left: 5px;

			@include media-breakpoint-down(xs) {
				margin-left: 3px;
			}
		}

		&__back-link {
			display: block;
		}

		&__back-link--top {
			display: none;

			@include media-breakpoint-down(xs) {
				display: inline-block;
				margin-bottom: 33px;
			}
		}
	}
}
