/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(0, 0, 0);
$white: #f4f4f4;
$gray: #edeef0;
$dark-grey: #6c7178;
$green: #bada55;
$blue: #131f5e;
$red: #db2222;
