.button-primary,
.button-secondary,
.button-read-more,
.button-nav {
	font-size: rem-calc(18px);
	line-height: rem-calc(22px);
	letter-spacing: 0.5px;
	font-family: $sub-font;
	font-weight: 700;
	text-align: center;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	text-decoration: none;

	@include media-breakpoint-down(md) {
		max-width: 350px;
		margin-right: auto;
		margin-left: auto;
	}

	@include max-576 {
		max-width: 100%;
	}

	&.inactive {
		opacity: 0.3;
	}
}

.button-primary,
.button-secondary {
	min-width: 175px;
	padding: 14px 10px;
	border: 2px solid;
	min-height: 54px;
}

.button-primary {
	border-color: $red;
	color: $white;
	background: $red;

	&:hover {
		color: $red;
		background: none;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

.button-secondary {
	border-color: $red;
	color: $red;
	background: transparent;

	&:hover {
		color: $white;
		background: $red;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

.button-read-more {
	color: $black;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: none;
	}
}

.button-arrow {
	color: $black;
}

.category-button {
	min-width: 162px;
	font-weight: 700;
	font-family: $sub-font;
	font-size: rem-calc(18px);
	line-height: rem-calc(18px);
	padding: 5px 10px;
	border: 2px solid;
	border-radius: 29px;
	background: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	@include max-768 {
		min-width: 92px;
		font-size: rem-calc(10px);
		line-height: rem-calc(16px);
		padding: 2px 6px;
	}

	&:focus {
		outline: none;
		color: inherit;
	}

	&:hover {
		text-decoration: none;
		color: $white;
	}

	&.active {
		color: $white;

		&:hover {
			text-decoration: none;
			color: $black;
			border-color: $black;
			background: none;
		}

		&:active {
			color: $white;
			border-color: $white;
			background-color: $black;
		}
	}

	&--news-events,
	&--blue {
		background: none;
		color: $blue;

		&:focus {
			background: none;
			color: $blue;
		}

		&:hover {
			background: $blue;
			border-color: $blue;
			color: $white;
		}

		&.active {
			background: $blue;
			border-color: $blue;
			color: $white;

			&:active,
			&:focus {
				background: $blue;
				border-color: $blue;
				color: $white;
			}

			&:hover {
				background: none;
				color: $blue;
				border-color: $blue;
			}
		}
	}

	&--important,
	&--red {
		background: none;
		color: $red;

		&:focus {
			background: none;
			color: $red;
		}

		&:hover {
			background: $red;
			border-color: $red;
			color: $white;
		}

		&.active {
			background: $red;
			border-color: $red;
			color: $white;

			&:active,
			&:focus {
				background: $red;
				border-color: $red;
				color: $white;
			}

			&:hover {
				background: none;
				color: $red;
				border-color: $red;
			}
		}
	}

	&--notice,
	&--black {
		background: none;
		color: $black;

		&:focus {
			background: none;
			color: $black;
		}

		&:hover {
			background: $black;
			border-color: $black;
			color: $white;
		}

		&.active {
			background: $black;
			border-color: $black;
			color: $white;

			&:active,
			&:focus {
				background: $black;
				border-color: $black;
				color: $white;
			}

			&:hover {
				background: none;
				color: $black;
				border-color: $black;
			}
		}
	}
}

.archive-category-button {
	color: $black;
	background: none;
	max-width: 292px;
	width: 100%;
	font-family: $sub-font;
	font-weight: 700;
	border-radius: 29px;
	border: 2px solid $black;
	text-decoration: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;

	&:focus {
		outline: none;
		background: transparent;
		border-color: $black;
		color: $black;
	}

	&:hover {
		text-decoration: none;
		color: $white;
		background: $black;
	}

	&.active {
		color: $white;
		background: $black;

		&:active {
			color: $white;
			border-color: $white;
			background-color: $black;
		}

		&:focus {
			color: $white;
		}

		&:hover {
			text-decoration: none;
			color: $black;
			border-color: $black;
			background: none;
		}
	}

	@include media-breakpoint-down(sm) {
		font-size: 10px;
		max-width: 136px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 0;
	}

	& + .archive-category-button {
		margin-left: 24px;

		@include media-breakpoint-down(xs) {
			margin-left: 6px;
		}
	}

	&--important {
		border-color: $red;
		background: none;
		color: $red;

		&:focus {
			border-color: $red;
			background: none;
			color: $red;
		}

		&:hover {
			background: $red;
			border-color: $red;
			color: $white;
		}

		&.active {
			background: $red;
			border-color: $red;
			color: $white;

			&:active,
			&:focus {
				background: $red;
				border-color: $red;
				color: $white;
			}

			&:hover {
				background: none;
				color: $red;
				border-color: $red;
			}
		}
	}

	&--news-events,
	&--charity-fundraising {
		background: none;
		color: $blue;
		border-color: $blue;

		&:focus {
			background: none;
			color: $blue;
		}

		&:hover {
			background: $blue;
			border-color: $blue;
			color: $white;
		}

		&.active {
			background: $blue;
			border-color: $blue;
			color: $white;

			&:active,
			&:focus {
				background: $blue;
				border-color: $blue;
				color: $white;
			}

			&:hover {
				background: none;
				color: $blue;
				border-color: $blue;
			}
		}
	}
}

.read-more-button {
	text-decoration: none;
	font-weight: bold;
	font-family: $sub-font;
	font-size: 18px;

	&__svg {
		margin-left: 4px;
	}

	&:hover {
		color: $black;
		text-decoration: underline;

		.read-more-button__svg {

			& circle {
				stroke: $black;
				stroke-width: 2px;
				r: 8px;
				fill: none;
			}

			& path {
				stroke: $black;
			}
		}
	}
}

.archive-back-link {
	position: relative;
	text-decoration: none;
	display: block;

	&__svg {
		margin-bottom: 4px;
	}

	&__text {
		font-family: $sub-font;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.5px;
		margin-left: 5px;

		@include media-breakpoint-down(xs) {
			margin-left: 3px;
		}
	}

	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}

	&:hover {
		color: $black;
		text-decoration: none;

		& .archive-back-link__text {
			text-decoration: underline;
		}

		& .archive-back-link__svg {

			& circle {
				stroke: $black;
				stroke-width: 2px;
				r: 8px;
				fill: none;
			}

			& path {
				stroke: $black;
			}
		}
	}
}
