.wp-block-group__inner-container {

	@extend .container;
}

.wp-block-image {

	figcaption {
		color: $blue;
		text-align: left;
		font-family: $sub-font;
		font-size: rem-calc(14px);
		line-height: rem-calc(22px);
		letter-spacing: 0.22px;
		font-weight: 400;
		margin: 12px 0;

		@include max-576 {
			font-size: rem-calc(12px);
			line-height: rem-calc(16px);
		}
	}

	img {
		height: auto;
	}
}

.wp-block-file {
	margin-bottom: 1em;

	a {
		font-size: rem-calc(14px);
		line-height: rem-calc(22px);
		font-family: $sub-font;
		letter-spacing: 0.3px;
		display: inline-flex;
		position: relative;
		padding-left: 28px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 19px;
			height: 27px;
			mask: url("../images/pdf-icon.svg") 0 0/19px 27px;
			background-color: $black;
		}
	}
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

p:empty {
	display: none;
}

.wp-block-cover {
	min-height: 200px;

	&.has-background-dim {
		background-blend-mode: luminosity;
	}
}

.accordion-block {
	color: $black;
}

.alignwide {

	@extend .container;

	padding: 0;

	.wp-block-group__inner-container {
		max-width: 1270px;
		margin: 0 auto;
	}
}

.blocks-gallery-grid {
	padding-inline-start: 0 !important;

	.blocks-gallery-item {
		margin-right: 1.5em;
		width: calc(50% - 1.5em);

		@include max-768 {
			margin-right: 0.5em;
			width: calc(50% - 0.5em);
		}
	}
}

.blocks-gallery-caption {
	font-family: $sub-font;
	font-size: rem-calc(16px);
	line-height: rem-calc(22px);
	letter-spacing: 0.22px;

	@include max-768 {
		font-size: rem-calc(12px);
		line-height: rem-calc(16px);
	}
}

.wp-block-embed {

	iframe {
		width: 100%;

		@include max-1200 {
			height: 56vw;
		}
	}
}

.wp-block-columns {
	margin-bottom: 0;

	.wp-block-column {

		@media (min-width: 782px) {

			&:not(:first-child) {
				margin-left: 26px;
			}
		}

		@media (max-width: 781px) {

			&:empty {
				flex-basis: 0 !important;
			}

			&.has_columns {
				flex-basis: 100% !important;
			}
		}

		&.border__column {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -24px;
				bottom: 0;
				width: 2px;
				background-color: $black;
				opacity: 0.1;

				@media (max-width: 576px) {
					display: none;
				}
			}
		}
	}

	&.alignwide {

		.wp-block-column {

			@media (max-width: 781px) {

				&:empty {
					flex-basis: 0 !important;
				}

				flex-basis: 100% !important;
				margin-left: 0;
			}
		}
	}
}

.has-medium-font-size {
	font-size: rem-calc(24px);
	line-height: rem-calc(32px);
	letter-spacing: 0.5px;
}

.wp-block-buttons {

	.wp-block-button {
		min-width: 292px;
		margin-right: rem-calc(24px);
		margin-bottom: rem-calc(16px);

		&:last-child {
			margin-right: 0;
		}

		.wp-block-button__link {
			font-size: rem-calc(18px);
			line-height: rem-calc(22px);
			letter-spacing: 0.5px;
			font-family: $sub-font;
			font-weight: 700;
			text-align: center;
			display: inline-block;
			transition: all 0.3s ease-in-out;
			text-decoration: none;
			outline: none;
			width: 100%;
			min-height: 54px;
			padding: 14px 24px;
			border: 2px solid;

			@include max-768 {
				padding: 14px 3px;
			}

			&.has-red-background-color {
				border-color: $red;
			}

			&.has-red-color {
				color: $red;
			}

			&:hover {
				text-decoration: none;

				&.has-red-color {
					color: $white;
					background: $red;
					border-color: $red;
				}

				&.has-white-color {
					border-color: $red;
					background: $red;
				}

				&.has-red-background-color {
					color: $red;
					background: transparent;
				}
			}
		}

		@include max-768 {
			min-width: 350px;
			display: inline-block;
			max-width: 350px;
		}

		@include max-576 {
			min-width: 100%;
			margin-right: 0;
		}

		&.small {
			min-width: 175px;

			@include max-768 {
				min-width: 350px;
			}

			@include max-576 {
				min-width: 100%;
			}
		}
	}
}

p.has-black-color {

	a {

		&:hover {
			color: $red;
		}
	}
}

.wp-block-quote {
	font-family: $sub-font;
	font-size: rem-calc(28px);
	line-height: rem-calc(37px);
	letter-spacing: 0.5px;
	padding-left: 75px;
	position: relative;

	strong {
		letter-spacing: inherit;
	}

	@include max-576 {
		font-size: rem-calc(18px);
		line-height: rem-calc(22px);
		letter-spacing: 0.22px;
		padding-left: 37px;
	}

	&::after {
		content: "";
		width: 4px;
		position: absolute;
		top: 0;
		bottom: 8px;
		left: 43px;
		background-color: $red;

		@include max-576 {
			width: 2px;
			left: 25px;
		}
	}

	&::before {
		content: "“";
		position: absolute;
		top: 0;
		left: 0;
		color: $red;
		font-family: $sub-font;
		font-size: rem-calc(48px);
		line-height: rem-calc(40px);
		letter-spacing: 0.53px;

		@include max-576 {
			font-size: rem-calc(32px);
			line-height: rem-calc(32px);
		}
	}

	img {
		height: auto;
		float: right;
		margin-left: 24px;
		margin-top: 12px;
		margin-bottom: 27px;

		@include max-768 {
			float: none;
			display: block;
			margin-left: 0;
			margin-right: 0;
		}

		@include max-576 {
			width: 100% !important;
		}
	}

	cite {
		font-size: rem-calc(24px);
		line-height: rem-calc(36px);
		font-style: normal;
		font-family: $font;

		@include max-576 {
			font-size: rem-calc(12px);
			line-height: rem-calc(24px);
			letter-spacing: 0.21px;
		}
	}
}

.entry-content {

	ul,
	ol {
		padding-inline-start: 25px;

		li {
			margin-bottom: 12px;
			font-weight: inherit;
		}
	}
}
